Package: com.dao.3dbadgeclear
Name: 3DBadgeClear(rootless)
Depends: firmware (>= 13.0), mobilesubstrate
Conflicts: com.isklikas.3dbadgeclear, com.twickd.john-sklikas.3dbadgeclear
Version: 1.6.8.1
Architecture: iphoneos-arm
Description: 在有通知角标的程序图标的“长按/3D Touch”菜单上出现“清除角标”，可一键清除此程序的所有通知角标。
Maintainer: isklikas
Author: isklikas
Section: 嗨-工具

